
.btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1D2E35;
  border: none;
}

/* #output {
  height: 40%;
  width: 50%;
  position: absolute;
  top: 10vh;
  color: #E7F9A9;
  font-size: 3em;
} */

#outputer {
  height: 45vh;
  border-radius: 5px;
  background-color: #BDA69E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.calculator {
  max-width: 460px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  padding: 10px;
  padding-top: 5vh;
  background-color: #8B6667;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.buttons {
  height: 45vh;
  padding-top: 10px;
  border: none;
}

.clrBtn {
  background-color: #FF0035;
  border: none;
}
